<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h2>Greet</h2>
        <button v-on:click="greet('Hello')">Say Hello</button>
        <button v-on:click="greet('Hi')">Say Hi</button>
        <button v-on:click="greet('Namaste')">Say Namaste</button>
         <br/><br/>
        {{greeting}}
   </div>
    <!-- for event handling -->
    <div id='app1'>
        {{count}}
        <button v-on:click="count += 1"> Increase count</button>
        <button v-on:click="count -= 1"> Decrease count</button>
    </div>
    <div id='app2'>
        <ul>
        <li v-for='name in names'> {{name}}</li>
        </ul>
        <input type="text" v-model="message"/>
        <button v-on:click="addName">Add Name</button>
    </div>
    <div id= 'app3'>
        <label>Type your name:</label>
        <input type='text' v-model="name"/>
        Your name is {{name}}<br/>
        And is {{charcount}} characters long.
    </div>
    <!-- filtering by using dropdown -->
    <div id="app4">
        <h3>Filter By Category</h3> 
        <select v-model="category">
            <option valeu="Accessories">Accessories</option>
            <option valeu="Laptop">Laptop</option>
            <option valeu="Stationary">Stationary</option>
        </select> 
        <ul>
            <li v-for="product in filterProductsByCategory">Product Name : {{product.name}} - Price : {{product.price}} ({{product.category}})</li>
        </ul>
    </div>
    <div id="app5">
        <h3>Filter By Name</h3> 
        <input type="text" v-model="name" placeholder="Filter By Name"/>
        <ul>
            <li v-for="product in filterProductsByName">Product Name : {{product.name}} - Price : {{product.price}} ({{product.category}})</li>
        </ul>
    </div>
    <div id="app6">
        <h3>Filter By Price Range</h3> 
        <label for="vol">Price (between 0 and 1000):</label>
        <input type="range" v-model="range" min="0" max="1000" step="10"/> 
        Selected : {{range}}
    </div>
    <!-- using the text box query  -->
    
</body>
    <script type="text/javascript">
    var app = new Vue({
        el:"#app",
        data:{
            greeting:"",
        },
        methods:{
            greet:function(greeting){
                this.greeting=greeting+ ",how are you ?";
            }
        }
    });
    var app = new Vue({
        el:'#app1',
        data:{
            count:0
        },
    });

    // displayed and added also the data from the input from user to the just
    var app = new Vue({
        el:'#app2',
        data:{
           names:['ram','shyam','hari','bharat','gita'],
           message:""
        },
        methods:{
            addName:function(){
                this.names.push(this.message);
                this.message='';
            }
        }
    });
    var app = new Vue({
        el:'#app3',
        data:{
            name:"",
        },
        computed: {
            charcount: function(){
                return this.name.length;
            }
        }
    });
    // filtering by drop down
    var app = new Vue({
        el:"#app4",
        data:{
            category:'',
            name:"",
            products:[
                { name: "Keyboard", price: 44, category: 'Accessories'},
                { name: "Mouse", price: 20, category: 'Accessories'},
                { name: "Monitor", price: 399, category: 'Accessories'},
                { name: "Dell XPS", price: 599, category: 'Laptop'},
                { name: "MacBook Pro", price: 899, category: 'Laptop'},
                { name: "Pencil Box", price: 6, category: 'Stationary'},
                { name: "Pen", price: 2, category: 'Stationary'},
                { name: "USB Cable", price: 7, category: 'Accessories'},
                { name: "Eraser", price: 2, category: 'Stationary'},
                { name: "Highlighter", price: 5, category: 'Stationary'}
            ]
        },
        computed:{
            filterProductsByCategory: function(){
                return this.products.filter(product => !product.category.indexOf(this.category))
            },
        }
    });
    var app = new Vue({
        el:"#app5",
        data:{
            name:"",
            
            products:[
                { name: "Keyboard", price: 44, category: 'Accessories'},
                { name: "Mouse", price: 20, category: 'Accessories'},
                { name: "Monitor", price: 399, category: 'Accessories'},
                { name: "Dell XPS", price: 599, category: 'Laptop'},
                { name: "MacBook Pro", price: 899, category: 'Laptop'},
                { name: "Pencil Box", price: 6, category: 'Stationary'},
                { name: "Pen", price: 2, category: 'Stationary'},
                { name: "USB Cable", price: 7, category: 'Accessories'},
                { name: "Eraser", price: 2, category: 'Stationary'},
                { name: "Highlighter", price: 5, category: 'Stationary'}
            ]
        },
        computed:{
            filterProductsByName: function() {
                return this.products.filter(product => !product.name.indexOf(this.name))
            },
        }
    });
    var app = new Vue({
        el:"#app6",
        data:{
            range:"500",
            
            products:[
                { name: "Keyboard", price: 44, category: 'Accessories'},
                { name: "Mouse", price: 20, category: 'Accessories'},
                { name: "Monitor", price: 399, category: 'Accessories'},
                { name: "Dell XPS", price: 599, category: 'Laptop'},
                { name: "MacBook Pro", price: 899, category: 'Laptop'},
                { name: "Pencil Box", price: 6, category: 'Stationary'},
                { name: "Pen", price: 2, category: 'Stationary'},
                { name: "USB Cable", price: 7, category: 'Accessories'},
                { name: "Eraser", price: 2, category: 'Stationary'},
                { name: "Highlighter", price: 5, category: 'Stationary'}
            ]
        },
        computed:{
            filterProductsByRange: function(){
                return this.products.filter(product => (product.price > 0 && product.price < this.range) ? product : '')
            }
        },
    });


    </script>

